#
# Copyright (c) Andras Csizmadia <andras@vpmedia.hu> (www.vpmedia.hu)
# author: Andras Csizmadia <andras@vpmedia.hu>
# see: https://docs.npmjs.com/cli/v8/using-npm/developers#keeping-files-out-of-your-package
#

.browserslistrc
.DS_Store
.editorconfig
.eslintignore
.eslintrc.json
.gitattributes
.github/
.gitignore
.npmignore
.npmrc
.oxlintrc.json
.prettierignore
babel.config.js
bitbucket-pipelines.yml
build/
commitlint.config.js
coverage/
dist/
lefthook.yml
lint-staged.config.js
logs/
node_modules/
out/
prettier.config.js
tsconfig.json
vitest.config.js
